<% Object.keys(data).forEach(function(item) { %>
  <div class="content-item">
    

    <!-- =================== ICON Start =================== -->
    <!-- a href is the same as the H2 url link -->
    <a href="<%= domain.split(':')[0] + data[item]['href_path'] %>">
      <img src="/menu-files/images/<%= data[item]['logo_url'] %>" 
           alt="<%= data[item].title %>"
      />
    </a>
    <!-- ICON End -->


    <!-- ================= URL Link Start ================= -->
    <h2>
      <a href="<%= 'http://' + domain.split(':')[0] + data[item]['href_path'] %>">
        <%= data[item]['intended_use'] + ' ' + data[item].title %>
      </a>
    </h2>
    <!-- URL Link End -->

    <% if (data[item]['extra_html_file']) { %>
      EXTRA_HTML GOES HERE
    <% } %>



    <p>
      <%- data[item].description %>
    </p>


  </div>
<% }) %>